@charset "utf-8";
body {
	padding:0 0 0 0;
	margin:0 0 0 0;
	background-color:#204079;
	background-image:url('pic/meer.jpg');
	background-repeat:no-repeat;
	background-size:100%;
}
a:link{
	color:aliceblue;
	font-size:14px;
	text-decoration:none;
	}
a:visited{
	color:aliceblue;
	font-size:14px;
	text-decoration:none;
}
a:active{
	color:aliceblue;
	font-size:14px;
	text-decoration:none;
}
a:hover{
	color:#0066CC;
	font-size:16px;
}

.warper {
	width: 900px;
	margin: 0 auto 0 auto;
	text-align: center;
	background-color:;
	float:none;
}
header {
	width: 900px;
	height: 60px;
	text-align: center;
	background-color:#0066CC;
}
.headertitel {
	color:aliceblue;
	font-size:16px;
	padding-top:20px;

}
nav {
	width:900px;
	background-color:#0066CC;
	text-align:center;
	
}
.navstyle {
	margin:auto;
	width:600px;
	height:20px;
	color:aliceblue;
	font-size:14px;
	text-align:center;
	background-color:#33CCFF;
	word-spacing:15px;
}
.content {
	width: 900px;
	background-color: #33CCFF; 
	padding-top: 20px;
	padding-bottom:0;
	border-top: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	border-bottom:1px;
	border-bottom-color:#33CCFF;
	border-bottom-style:solid;
	text-align:center;
}
.footer {
	padding-top:0;
	width:900px;
	background-color: #33CCFF;
	height:30px;
}

/*######### Tabelle für Fragen #######*/	

.tabelle {
	width:880px;
	margin: 15px 0 15px 25px;
	border-collapse: collapse;
	border-spacing:0;
}
.spallte1{
	width:850px;
	text-align:left;
	padding-left:10px;
}
.spallte2{
	width:850px;
	text-align:left;
	padding-left:10px;
	
}
.spallte2 span{
	background-color:#99FF99;
}

.checkboxtabelle{
	width: 800px;
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
}
.checktabelleSpalte1{
	width:30px;
	text-align:left;
}
.checktabelleSpalte2{
	width:30px;
	text-align:left;
}
.checktabelleSpalte3{
	width:740px;
	text-align:left;
}
.checkimg{
	width:20px;
	height:20px;
}
.checkbox{
	width:20px;
	height:20px;
}

.antworttabelle{
	background-color:#99FF99;
	width:500px;
}

/*#####################################*/
.hallowarper {
	width: 750px;
	margin:0 auto 0 auto ;
}
.hallowillkommen{
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	padding:10px 0 0 0px;
}
.hallofunktion {
	text-align: left;
	padding:50px 0 0 0px;
}
.erledigt {
	text-align: left;
	padding: 50px 0 0 0;
}
.hallomail, hallomail a {
	text-align: left;
	padding:50px 0 0 0px;
}
